<% if @answer.errors.present? %>
  $('.notice').html("You fill invalid data for answer!");
  <% @answer.errors.full_messages.each do |message| %>
    $('.answer-errors').html('<p><%= j message %></p>');
  <% end %>
<% else %>
  $('#answer_body').val('');
  $('.answers').append("<%= j render 'answer', answer: @answer, question: @question %>");
<% end %>
